    body {
        background-color: #1F1F1F;
        color: #b4bbc0;
        font-family: 'Inter', sans-serif;
    }

    .nav-link {
        color: #d6d6d6d3 !important;
        transition: 0.3s;
        font-weight: light;
        font-size: 15px;
    }

    .nav-link:hover {
        color: #ffffff !important;
    }

    .section {
        padding: 80px 0;
    }

    .badge-dark {
        background-color: #3D3D3D;
        color: #d6d6d6d3;
        margin-right: 0.25rem;
        margin-bottom: 0.25rem;
        padding: 0.35rem;
        border-color: #242424;
        border-style: solid;
        border-width: 1px;
        font-weight: 500;
    }

    .project-card {
        background-color: #242424;
        border-radius: 10px;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #27272c;
    }

    .project-card:hover {
        background-color: #3D3D3D;
        border-radius: 10px;
        padding: 1.5rem;
        margin-bottom: 1.5rem;
        border-width: 1px;
        border-style: solid;
        border-color: #38383d;
    }

    footer {
        text-align: center;
        padding: 30px 0;
        color: #A1A1AA;
        border-top: 1px solid #3D3D3D;
    }